<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Bookings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="mt-4">User Bookings</h2>
    <div class="row mt-4">
        <!-- Iterate over bookings and display each as a card -->
        <div th:each="booking : ${bookings}" class="col-md-4 mb-4" th:if="${booking.cancellationStatus == false}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Booking ID: <span th:text="${booking.bookingId}"></span></h5>
                    <p class="card-text">Movie: <span th:text="${booking.movieName}"></span></p>
                    <p class="card-text">Theater: <span th:text="${booking.theatreName}"></span></p>
                    <p class="card-text">Seats: <span th:text="${booking.seats}"></span></p>
                    <p class="card-text">Timing: <span th:text="${booking.timing}"></span></p>
                    <p class="card-text">Total Price: <span th:text="${booking.totalPrice}"></span></p>
                    <p class="card-text">Total Payable Amount: <span th:text="${booking.totalPayableAmount}"></span></p>
                    <!-- Delete button -->
                    <form action="http://localhost:8080/api/v1/bookings/delete" method="post">
                        <!-- Hidden input field to pass booking ID -->
                        <input type="hidden" name="bookingId" th:value="${booking.bookingId}" />
                        <!-- Submit button to cancel booking -->
                        <button type="submit" class="btn btn-danger">Cancel Booking</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
