<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <!-- Include Bootstrap CSS if needed -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Oops! It looks like there is a clash between this show and an existing show!</h4>
    <p th:text="${errorMessage}"></p>
    <hr>
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">

        <img th:src="@{/images/kid-run.gif}" alt="Clash GIF">
      </div>
    </div>
    <!--<a th:href="@{'/theatres/withShows/'+${show.theatreId}}" class="btn btn-primary btn-back">Back</a>-->
  </div>
</div>
</body>
</html>
